@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredoka+One&family=Poppins:wght@500&display=swap');
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Search bar tab and social media icons*/
.search-form{
  position: absolute;
  left: 100px;
  top: 10px;
}
.search-form input{
  border: none;
  color: grey;
  font-style: italic;
  height: 40px;
  overflow: hidden;
  font-family: 'Comic Neue', cursive;
}
.search-form button{
  background: white;
  border: none;
}
.search-form button i:hover{
  color: #ffb6c1;
  cursor: pointer;
  transition: 0.5s ease;
}
.mysocial-media a {
  text-decoration: none;
  color: black;
}
.mysocial-media a:hover{
  color:#ffb6c1;
  transition: 0.5s ease;
}
/*.search-form button img:hover{
  -webkit-filter:grayscale(0);
}*/
.mysocial-media{
  position: absolute;
  right: 100px;
  top: 20px;
}
.mysocial-media a{
  padding: 10px;
  width: 15px;
  height: 15px;
}
.top-search-bar{
  position:relative;
  box-shadow: 5px 5px 20px grey;
  height: 60px;
}
/*Menu logo*/
.navbar a img{
  text-align: center !important;
  margin-top: 30px;
}
/*Menu-Bar*/
#Main-Menu .navbar{
  background-color: white;
}
.inside-navbar-brand{
  animation: img 0.3s;
  padding-bottom: 10px;
}
@keyframes img {
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}
.navbaranim{
  animation: img 0.5s;
}
@media (max-width:991px) {
  #Main-Menu #navbarNavDropdown ul{
    animation:translator 1s;
  }
  @keyframes translator {
    from{
      transform: translate(-100px,0px);
    }
    to{
      transform: translate(0px,0px);
    }
  }
}

#Main-Menu nav #navbarNavDropdown .navbar-nav li a:hover{
  color:#ffb6c1;
  transition: 0.5s ease;
}
#Main-Menu nav #navbarNavDropdown .navbar-nav li a{
   font-family: 'Poppins', sans-serif;
   color: black;
   padding-left: 25px;
   padding-right: 25px;
}
@media (min-width:991px) {
  .dropdown:hover>.dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    animation: fadeIn 1.5s,translater 0.8s;
    background: none;
  }
  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity:1;
    }
  }
  @keyframes translater {
    from{
      top: 130px;
    }
  }
}

/*Menu-bar ends*/
